body{
  font-family: 'Spartan', sans-serif;
  background-color: #9BAD9C;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.Header{
  font-family: 'Spartan', sans-serif;
  position: sticky;
  top: 0;
  padding: 15px;
  background-color: #466060;
  padding-top: 1px;
  padding-left: 10px;
  z-index: 8;
}
#appTitle{
  padding-left: 0px;
  padding-bottom: 10px;
  color: white;
}
#heading{
  font-family: 'Spartan', sans-serif;
  padding-left: 50px;
}
.pageLinks button{
  position: relative;
  top: 0vh;
  left: 12vw;
  font-family: 'Spartan', sans-serif;
  font-size: medium;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  border: none;
  background-color: #212121;
  
}

#searchBar{
  position: fixed;
  z-index:9;
  top: 8.5vh; 
  right: 12vw;
  width: 35vw;
  height: 5vh;
  box-sizing: border-box;
  border: none;
  /* border-color: whitesmoke; */
  /* border-radius: 10px; */
  background-color: whitesmoke;
  padding: 5px;
}

.Search input {
  text-align: left;
  font-size: medium;
  font-family: 'Spartan', sans-serif;
}

.pageLinks button:hover{
  cursor: pointer;
  color: #f7c7e1;
}

/* map start*/

 #map {   
  height: 350px;
  position: relative;
  width: 100%;
}
 

/* map end */